
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.white{
    color: white;
}
.p-color{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}
.margin{
    width: 1440px;
    margin: 0 auto;
}
.margin-head{
    margin: 40px 10% 40px 10%;
}

body{
    /* border: 1px solid tomato; */
    
    background-color: rgba(17, 17, 17, 1);

}


.section-title{
    font-size: 3em;
    font-weight: 600;
    color: white;
    margin-bottom: 14px;
}
.section-des{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.3px;
}



/* header section */

nav{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid tomato; */
    align-items: center;



}

.navbar > ul{

    display: flex;
    width: 600px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    justify-content: space-between;
    border-radius: 40px;
    padding: 8px 25px 8px 5px;
    
}
.navbar ul li {
    list-style: none;
    align-content: center;
    
}
.navbar > ul > li > a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    display: block;
}
.bars{
    align-content: center;
    display: none;
}
#home{
    padding: 8px 20px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
}
.h-title{
    font-size: 2.2rem;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding: 0; */
    color: rgba(230, 83, 60, 1);
    
}
header{
    margin-bottom: 50px;
}

/* head text */
.head-container{
    display: flex;

    justify-content: space-between;
    /* gap: 250px; */
}
.head-text{
    width: 700px;
}
#miama{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
                                    
}

.head-title{
    font-size: 6em;
    color: white;
    font-weight: bold;
}
.p-head{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    line-height: 120%;
}

.btn-primary{
    padding: 16px 40px;
    border: none;
    margin-right: 20px;
    border-radius: 42px;
    background-color: rgba(230, 83, 60, 1);
    font-size: 1.1rem;
    font-weight: 450;
    color: white;
    cursor: pointer;
}

.btn-download{
        padding: 16px 40px;
        border: none;
        margin-right: 14px;
        border-radius: 42px;
        border: 1px solid white;
        background-color: rgba(17, 17, 17, 1);
        font-size: 1.1rem;
        font-weight: 450;
        color: white;
        cursor: pointer;
    
}
.card-1{
    position: relative;
}

.c-1{
    display: flex;
    position: absolute;
    padding: 25px;
    align-items: center;
    gap: 12px;
    margin-top: -200px;
    margin-left: -115px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    max-width: 206px;
    background-color: rgba(255, 255, 255, 0.07);
    max-height: 96px;
    backdrop-filter: blur(20px);

}
.ball{
    background-color: rgba(230, 83, 60, 1);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.c-title{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}

#c-2{
    display: block;
    padding: 16px 23px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    max-width: 193px;
    max-height: 100px;
    background-color: rgba(255, 255, 255, 0.07);
    margin-left: 190px;
    margin-top: -110%;
    position: absolute;
    text-align: left;
    backdrop-filter: blur(20px);

}
.card-2{
    position: relative;
}

.head-img img{
    margin-right: 70px;
}

/* habit section */


.habit{
    text-align: center;
}

.hc-title{
    color: white;
    font-size: 1.1rem;
    margin-bottom: 2px;

}
.hc-des{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.habit-container{
    display: flex;
    gap: 45px;
}

.img-card > img{
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}


/* section extra-mile */
.extra-mile{
    display: flex;
    padding: 40px 54px;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 88px;
}
.extra-mile-text{
    max-width: 550px;
}
.extra-mile> img{
    
    border-radius: 18px;
}

#btn-mile{
    padding: 16px 90px;
}



/* bmi-calculator */
.bmi-calculator{
    max-width: 671px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* bmi-chart */
.bmi-chart{
    background-color: rgba(34, 34, 34, 1);
    padding: 3% 12% ;
}
.chart{
    /* padding: 3% 12%; */
}
.bmi-title{
    color: rgba(255, 255, 255, 1);
    font-size: 2.2em;
}


table{
    border-collapse: collapse;
    width: 350px;
    margin-top: 52px;
    /* margin-left: 10px; */


}
th, td {

    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    text-align: left;
  }

th{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 120%;
    font-weight: 200;
}

.bmi-chart{
    display: flex;
    justify-content: space-between;
}

/* calculate bmi */

#bmi-form{
    margin-top: 35px;

    max-width: 657px;
}

.calculate-bmi{
    text-align: left;
}

.input-bmi label    {

    margin-bottom: 5px;
    font-size: 0.9em;
    

}
.input-bmi{
    margin-bottom: 12px;
    
}

.input-bmi input,
.input-bmi select {
    /* width: 282px; */

    
    padding: 13px 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 300;
}

#height{
    width: 42%;
}

#age{
    width: 42%;
}

#sex{
    width: 49%;
    margin-left: 8px;
}
#weight{
    width: 43%;
    margin-left: 8px;
    margin-bottom: 1.5px
}
#activity{
    width: 100%;
}

#form-btn{
    margin-top: 34px;
    width: 224px;
}


/* section team */

.team{
    /* border: 1px solid tomato; */
    margin-bottom: 100px;

}

.team-text{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 60px;
}


.img-text{
    color: rgba(255, 255, 255, 1);
    line-height: 120%;
    font-size: 1.15rem;
    margin-bottom: 0px;

}
.img-box img{
    width: 90%;
    height: 92%;
    border-radius: 18px;
    margin-left: 10px;
}
.img-container{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;


}
.text-box{
    margin-top: -100px;
    margin-left: 20px;
}


/* footer */
.footer{
    display: flex;
    justify-content: space-around;
}
footer{
    padding: 5% 12% 0.8% 12% ;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(153, 153, 153, 1) ); */
    background-color: rgba(255, 255, 255, 0.1);
    /* display: flex; */
    /* justify-content: space-evenly; */
    border: 1px solid tomato;

}
.f-text{
    max-width: 500px;
}
#f-p{
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.3px;
    font-size: 0.9rem;

}

#f-title{
    font-size: 4rem;
}
/* .get-started{
    display: flex;
    justify-content: space-between;
} */

.f-t{
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
}
.f-des{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 120%;
    font-weight: 300;

}


.f-last{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}



