
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.display-flex{
    display: flex;
}

.white{
    color: white;
}
.p-color{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}
.margin{
    width: 1440px;
    margin: 0 auto;
}
.margin-head{
    margin: 40px 10% 40px 10%;
}

body{
    /* border: 1px solid tomato; */
    
    background-color: rgba(17, 17, 17, 1);

}


.section-title{
    font-size: 3em;
    font-weight: 600;
    color: white;
    margin-bottom: 14px;
}
.section-des{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.3px;
}



/* header section */

nav{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid tomato; */
    align-items: center;



}

.navbar > ul{

    display: flex;
    width: 600px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    justify-content: space-between;
    border-radius: 40px;
    padding: 8px 25px 8px 5px;
    
}
.navbar ul li {
    list-style: none;
    align-content: center;
    
}
.navbar > ul > li > a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    display: block;
}
.bars{
    text-align: center;
    justify-content: center;
    display: none;
    
    color: white;
    


    
}

#fa-bars{
    margin-top: 7px;
    font-size: 1.8em;
    
    transition: width 0.5s;
}
#home{
    padding: 8px 20px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
}
.h-title{
    font-size: 2.2rem;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding: 0; */
    color: rgba(230, 83, 60, 1);
    
}
header{
    margin-bottom: 50px;
    
}

/* head text */
.head-container{
    display: flex;

    justify-content: space-between;
    /* gap: 250px; */
}
.head-text{
    width: 700px;
}
#miama{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
                                    
}

.head-title{
    font-size: 6em;
    color: white;
    font-weight: bold;
}
.p-head{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    line-height: 120%;
}

.btn-primary{
    padding: 16px 40px;
    border: none;
    margin-right: 20px;
    border-radius: 42px;
    background-color: rgba(230, 83, 60, 1);
    font-size: 1.1rem;
    font-weight: 450;
    color: white;
    cursor: pointer;
}

.btn-download{
        padding: 16px 40px;
        border: none;
        margin-right: 14px;
        border-radius: 42px;
        border: 1px solid white;
        background-color: rgba(17, 17, 17, 1);
        font-size: 1.1rem;
        font-weight: 450;
        color: white;
        cursor: pointer;
    
}
.card-1{
    position: relative;
}

.c-1{
    display: flex;
    position: absolute;
    padding: 25px;
    align-items: center;
    gap: 12px;
    margin-top: -200px;
    margin-left: -115px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    max-width: 206px;
    background-color: rgba(255, 255, 255, 0.07);
    max-height: 96px;
    backdrop-filter: blur(20px);

}
.ball{
    background-color: rgba(230, 83, 60, 1);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.c-title{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}

#c-2{
    display: block;
    padding: 16px 23px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    max-width: 193px;
    max-height: 100px;
    background-color: rgba(255, 255, 255, 0.07);
    margin-left: 190px;
    margin-top: -110%;
    position: absolute;
    text-align: left;
    backdrop-filter: blur(20px);

}
.card-2{
    position: relative;
}

.head-img img{
    margin-right: 70px;
}

/* ------------------------------------------------------------------------------------------------ *//* ------------------------------------------------------------------------------------------------ */

/* habit section */


.habit{
    text-align: center;
}

.hc-title{
    color: white;
    font-size: 1.1rem;
    margin-bottom: 2px;

}
.hc-des{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.habit-container{
    display: flex;
    gap: 45px;
}

.img-card > img{
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}

/* ------------------------------------------------------------------------------------------------ *//* ------------------------------------------------------------------------------------------------ */

/* section extra-mile */
.extra-mile{
    display: flex;
    padding: 40px 54px;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 88px;
}
.extra-mile-text{
    max-width: 550px;
}
.extra-mile> img{
    
    border-radius: 18px;
}

#btn-mile{
    padding: 16px 90px;
}


/* ------------------------------------------------------------------------------------------------ *//* ------------------------------------------------------------------------------------------------ */

/* bmi-calculator */
.bmi-calculator{
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* bmi-chart */
.bmi-chart{
    background-color: rgba(34, 34, 34, 1);
    padding: 3% 12% ;
}
.chart{
    /* padding: 3% 12%; */
}
.bmi-title{
    color: rgba(255, 255, 255, 1);
    font-size: 2.2em;
}


table{
    border-collapse: collapse;
    width: 350px;
    margin-top: 52px;
    /* margin-left: 10px; */


}
th, td {

    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    text-align: left;
  }

th{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 120%;
    font-weight: 200;
}

.bmi-chart{
    display: flex;
    justify-content: space-between;
}


/* ------------------------------------------------------------------------------------------------ *//* ------------------------------------------------------------------------------------------------ */

/* calculate bmi */

#bmi-form{
    margin-top: 35px;

    max-width: 100%;
    /* border: 1px solid tomato; */
}

.calculate-bmi{
    text-align: left;
}

.input-bmi label    {

    margin-bottom: 5px;
    font-size: 0.9em;
    

}
.input-bmi{
    margin-bottom: 12px;
    
}

.input-bmi input,
.input-bmi select {
    /* width: 282px; */

    
    padding: 13px 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 300;
}

#height{
    width: 44.5%;
}
#weight{
    width: 44%;
    margin-left: 8px;
    margin-bottom: 1.5px
}

#age{
    width: 44.5%;
}

#sex{
    width: 49%;
    margin-left: 8px;
}

#activity{
    width: 100%;
}

#form-btn{
    margin-top: 34px;
    width: 250px;
}


/* ------------------------------------------------------------------------------------------------subscription */  /* ------------------------------------------------------------------------------------------------ */

.subscription{
    text-align: center;
    margin-bottom: 100px;
}

.sub-card-container{
    justify-content: center;

}

#sub-title{
    font-size: 2.8em;
    font-weight: 300;
    margin-bottom: 1px;
}

#sub-details{
    color: rgba(202, 202, 202, 1);
    margin-bottom: 1px;
    font-weight: 300;
}
.sub-card{
    background-color: rgb(245, 246, 247);
    border-radius: 8px;
    text-align: center;
    /* padding: 1% 9%; */
}
.sub-head{
    padding: 40px 150px;

}
#sub-card-1{
    color: #ed002e;
    
}
#sub-card-2{
    background-color: #ed002e;
    color: whitesmoke;
}
.sub-title{
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}
#price-style{
    font-size: 4rem;
    font-weight: 350;
    margin-bottom: 0;
}
.price{
    margin-bottom: 0;
}
#sub-btn-1{
    margin-top: 20px;
    background-color: #484a52;
    border-radius: 20px;
    width: 100%;
    margin-bottom: -20px;
}
#sub-btn-2{
    margin-top: 20px;
    background-color: #fff;    ;
    border-radius: 20px;
    width: 100%;
    color: #ed002e;
    margin-bottom: -20px;
}


.p-card-1{
    margin-left: 10%;
    text-align: left;
    color: #1b1c1f;
    font-weight: 400;

}
#p-c-1{
    margin-bottom: 161px;
}
#p-c-1-1{
    margin-bottom: 24px;
}
#p-c-1-2{
    margin-top: 50px;
}
.p-card-2{
    margin-left: 10%;
    text-align: left;
    color: #fff;
    font-weight: 320;

}









/* ------------------------------------------------------------------------------------------------ *//* ------------------------------------------------------------------------------------------------ */
/* section team */

.team{
    /* border: 1px solid tomato; */
    margin-bottom: 100px;

}

.team-text{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 60px;
}


.img-text{
    color: rgba(255, 255, 255, 1);
    line-height: 120%;
    font-size: 1.15rem;
    margin-bottom: 0px;

}
.img-box img{
    width: 90%;
    height: 92%;
    border-radius: 18px;
    margin-left: 10px;
}
.img-container{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 18px;
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    row-gap: 10px;


}
.text-box{
    margin-top: -100px;
    margin-left: 20px;
}



/* ------------------------------------------------------------------------------------------------ *//* ------------------------------------------------------------------------------------------------ */

/* footer */
.footer{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid tomato; */
}
footer{
    
    padding: 5% 12% 0.05% 12% ;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(153, 153, 153, 1) ); */
    background-color: rgba(255, 255, 255, 0.1);
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* border: 1px solid tomato; */

}
.f-text{
    max-width: 500px;
}
#f-p{
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.3px;
    font-size: 0.9rem;

}

#f-title{
    font-size: 4rem;
}
/* .get-started{
    display: flex;
    justify-content: space-between;
} */

.f-t{
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
}
.f-des{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 120%;
    font-weight: 300;

}


.f-last{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.hr{
    border: 1.2px solid rgba(255, 255, 255, 0.1);
}

.none{
    display: none;
}



/* ------------------------------------------------------------------------------------------------ *//* ------------------------------------------------------------------------------------------------ */


/* responsive query */






/* Mobile device */
@media screen and (max-width: 567px) {

    /* body{
        border: 1px solid tomato;
    } */

    .margin{
        width: auto;
        margin: 0 auto;
    }

    .margin-head{
        margin: 0;
    }
    /* nav */

    .navbar > ul{
        display: none;
    }
    .bars{
        display: block;
    }

    .head-container{
        flex-direction: column;
    }
    .head-text{
        width: fit-content;
        font-size: 0.65em;

    }
    .p-head{
        font-size: 1.15rem;
    }

    #btn-mobile{
        width: 90%;
        margin-bottom: 20px;
    }
    .c-1{
        margin-left: -20px;
    }
    #c-2{
        margin-left: 150px;

    }


    /* habit */
   
    .habit{
        padding: 0 5%;
    }
    .habit-container{
        flex-direction: column;
    }

    /* extra-mile */
    /* section extra-mile */
    .extra-mile{
        flex-direction: column;
        padding: 0 10% 10% 10%;
    }
    #btn-mile{
        width: 100%;
        margin-bottom: 30px;
    }

    /* bmi-calculator */
    .bmi-calculator{
        width: auto;
        margin-left: 20px;
    }
    .bmi-chart{
        flex-direction: column;
        padding: 2% 3% 2% 5%;
    }
    .bmi-title{
        font-size: 1.8rem;
    }
    table{
        width: auto;
        margin-top: 9px;
        margin-bottom: 20px;
    }


    #height{
        width: 37%;
    }
    #weight{
        width: 36%;
        margin-left: 1px;
        margin-bottom: 1.5px
    }
    
    #age{
        width: 37%;
    }
    
    #sex{
        width: 48.6%;

        margin-left: 1px;
    }
    
    #activity{
        width: 100%;
    }

    /* team */
    .section-title{
        font-size: 2.4rem;
    }

    .img-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 5%;

    }
    .img-box img{
        width: 95%;
    }
    footer{
        padding: 15% 6% 5% 6%;
    }
    .footer{
        flex-direction: column;
    }
    .head-img img{
        width: 100%;
        margin: 0;
    }

    .sub-card-container{
        flex-direction: column;
    }
    .sub-head{
        padding: 40px 55px;
        position: sticky;
        top: 0;
    
    }
    #sub-card-1{
        margin-bottom: 30px;
    }
    #p-c-1{
        margin-bottom: 31px;
    }
    #p-c-1-1{
        margin-bottom: 24px;
    }
    #p-c-1-2{
        margin-top: 0px;
    }



    .bmi-calculator{
        max-width: 560px;
        margin: 0 1.5%;
        margin-bottom: 100px;
    }

    .f-last{
        font-size: 1rem;
        margin-top: 4px;
        margin-bottom: 0;
    }







}


/* ------------------------------------------------------------------------------------------------ ------------------------------------------------------------------------------------------------ */

@media screen and (min-width: 567px) and (max-width: 992px) {
    .margin{
        width: auto;
        margin: 0 5%;
    }
    .nav{
        margin: 2.5%;
    }

    .margin-head{
        margin: 0;
    }
    .navbar > ul{
        width: auto;
        gap: 20px;
         
        font-weight: 300;
        padding: 3px 20px 3px 3px;
    }
    .navbar > ul > li > a{
        font-size: 1rem;
    }
    .head-container{
        flex-direction: column;
    }
    .head-text{
        max-width: 650px;
        margin: 0 auto;
    }
    .head-img{
        max-width: 500px;
        margin: 0 auto;

    }
    .head-img img{
        margin: 0;
        width: fit-content;
    }


    .habit{
        padding: 0 5%;
    }
    .habit-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .extra-mile{

        padding: 5%;
    
    }
    .extra-mile-text{
        font-size: 0.8rem;
        max-width: 250px;
    }
    .extra-mile> img{
        max-width: 300px;
    }
    #btn-mile{
        width: 90%;
        padding: 6% 20%; 
    }





    .bmi-calculator{
        width: auto;
        margin-left: 20px;
    }
    .bmi-chart{
        flex-direction: column;
        padding: 2% 1% 2% 5%;
    }


    #bmi-form{
        /* border: 1px solid tomato; */
        width: 100%;
    }

    #height{
        width: 43.5%;
    }
    #weight{
        width: 43.3%;
        margin-left: 5px;
        margin-bottom: 1.5px
    }
    
    #age{
        width: 43.5%;
    }
    
    #sex{
        width: 49.1%;

        margin-left: 4px;
    }
    
    #activity{
        width: 100%;
    }
    .f-text{

        width: 100%;
    }
    

    footer{
        /* border: 1px solid tomato; */
        padding: 7% 4% 4% 4%;
    }


    .footer{
        padding: 0 15% 0 0;
        display: grid;

    }
    .get-1 {
        grid-row-start: 2;
        grid-row-end: 2;
      }
    .get-2 {
        grid-row-start: 2;
        grid-row-end: 2;
      }

      .sub-head{
        padding: 40px 100px;
    
    }
    .bmi-calculator{
        max-width: auto;
        margin: 0 2%;
        margin-bottom: 100px;
    }





    
}